html
  head
    title= title

    include ./lib/meta.jade

    link(href='/dist/css/index.css', rel='stylesheet')
    script(src='/dist/js/index.js', type='text/javascript')
    link(href='http://fonts.googleapis.com/css?family=Raleway:100,400', rel='stylesheet', type='text/css')

  body
    .container.index
      .row.title.text-center
        .col-md-12
          .h2.thin-text Hey
          .h1 I'm Mike Varano
          .h2.thin-text I like making stuff

      .row.stuff.text-center
        a(href='#stuff')
          .button See some stuff I work on

      .row.contact.text-center
        .contact-link.col-md-3.col-sm-3.col-xs-3.twitter.opacity-0
          a(href='https://twitter.com/migreva')
            i.fa.fa-twitter
        .contact-link.col-md-3.col-sm-3.col-xs-3.github.opacity-0
          a(href='https://github.com/migreva')
            i.fa.fa-github-alt
        .contact-link.col-md-3.col-sm-3.col-xs-3.stack-overflow.opacity-0
          a(href='http://stackoverflow.com/users/1337683/migreva')
            i.fa.fa-stack-overflow
        .contact-link.col-md-3.col-sm-3.col-xs-3.email.opacity-0
          a(href='mailto:mikevee313@gmail.com')
            i.fa.fa-envelope-o
