html
  head
    title= title

    include ./lib/meta.jade

    link(href='/css/migreva.css', rel='stylesheet')

  body
    .index#page-content
      .index-item.title
        .h2.thin-text Hey
        .h1 I'm Mike Varano
        .h2.thin-text I like making stuff

      //- #see-stuff.index-item
      //-   a.subpage-nav(href='#stuff', id='stuff')
      //-     .button See some stuff I work on

      .index-item.contact
        .contact-link.twitter.opacity-0
          a(href='https://twitter.com/migreva')
            i.fa.fa-twitter
        .contact-link.github.opacity-0
          a(href='https://github.com/migreva')
            i.fa.fa-github-alt
        .contact-link.stack-overflow.opacity-0
          a(href='http://stackoverflow.com/users/1337683/migreva')
            i.fa.fa-stack-overflow
        .contact-link.email.opacity-0
          a(href='mailto:mikevee313@gmail.com')
            i.fa.fa-envelope-o

    script(src='/js/migreva.js', type='text/javascript')
