@import 'bourbon/bourbon';
@import 'constants.scss';
@import 'blog.scss';
@import 'index.scss';
@import 'mixin.scss';
@import 'animations.scss';
@import 'include.scss';
@import 'screen-size.scss';
@import 'page_layout.scss';

*{	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html{
	height: 100%;
	width: 100%;
}

body {
	background-color: $primary_color;
	color: $text-color;
	font-family: 'Amatic SC', 'cursive';
	margin: 0px;

	// Font sizes
	h1, h2, h3, h4{
		// font-size: xx-large;
		font-size: 2em;
	}

	.content{
		display: none;
		height: 100%;
	}
	height: 100%;
	width: 100%;

}

.body-grey-out{
	// color: grey;
}


h4{
	color: white;
}

html body{
	opacity: 1;
}

.wf-active body{
	@include transition(opacity 0.2s ease-in 0s);
	
	opacity: 1;

	.content{
		display: block;

	}
}

.rearrange{
	*{
		display: none;
	}

	opacity: 0;
}

.welcome-text {
	h2{
		font-size: 45;
	} 
	h3{
		font-size: 35;
	}
}

.nav-choices{

	@include center-main-page;

	margin-top: 50px;

	a{
		color: inherit;
		text-decoration: none;
	}

	.choice{
		@include choice-mixin;

	}

	.choice-hide{
		display: none;
	}
	hr{
		display: none;
	}

	.externals{
		// width: 80%;
		width: $nav-menu-width * 6;
		margin: 20px auto;
		display: block;
		a{

		}
		.external{
			width: 20%;
			font-size: $nav-menu-width * .9;

			height: $nav-menu-width;
		}	
		.stack-overflow{
			&:hover{
				color: #f90;
			}
			.fa{	
				font-size: $nav-menu-width * .9;
				top: $nav-menu-width * .15;
			}
		}

		.spotify:hover{
			color: #7AB800;
		}

		.email{
			&:hover{
				color: black;
			}	
			.fa{
				font-size: $nav-menu-width * .8;
				top: $nav-menu-width * .1;
			}
		}
	}
}

.nav-choices-menu{
	@include transition(all .5s ease);
	// display: fixed;
	position: absolute;
	top: $page-title-height;
	width: $nav-menu-width;
	height: 100%;
	a{
		color: inherit;
		text-decoration: none;
	}
	// overflow-y: scroll;
	// overflow: auto;

	.choice{
		@include choice-mixin;
		display: block;
		width: 100%;
		position: relative;
		hr{
			width: 20%;
			color: white;
		}

		.nav-menu-selected-indicator{ // CSS Triangle

			width: 0; 
			height: 0; 
			border-right: $choice-font-size solid $text-color; 
			border-top: ($choice-font-size / 2) solid transparent; 
			border-bottom: ($choice-font-size / 2) solid transparent; 
			margin: ($choice-margin / 2) 0;
			display: inline-block;
			// position: absolute;
			// float: left;
			display: none;

			left: $nav-choice-menu-width / 2;
		}
	}

	.selected a{
		color: $choice-selected-font-color;
		cursor: default;
			
	}

	.choice-hide{
		display: none;
	}
	.external{

		.fa{
			width: 100%;
			font-size: $nav-menu-width * .5;
			text-align: center;
			top: $nav-menu-width * .05;
			margin: auto 0;
			position: relative;
		}
	}
}

.externals{
	height: $nav-menu-width;
	cursor: pointer;
	// display: none;
	width: 100%;
	// background: grey;
	// position: absolute;
	z-index: $dim-z-index + 1;

	.external{
		width: $nav-menu-width;
		height: $nav-menu-width * .7;
		color: white;
		float: left;
		// margin: 0 2.5px; 
		background: $primary_color;

	}	
}

.twitter{
	.fa:hover{
	color: #4099FF;

	}
}

.github{
	.fa:hover{
		color: $github-black;
	}
}

.stack-overflow{
	.fa:hover{
		color: #f90;
	}
}

.spotify{
	.fa:hover{
		color: #7AB800;
	}
}

.email{
	.fa:hover{
		color: black;
	}	
}

.externals-show{
	display: inline-block;
	top: -($nav-menu-width * 5/2);
}

.nav-menu-toggle:hover .nav-choices-menu{
	display: blockw;
}

.page-title-container{
	@include transition(all .5s ease);
	width: 100%;
	height: $page-title-height;
	position: absolute;
	top: 0px;
	left: 0px;


	.nav-menu-toggle{
		width: $nav-menu-width;
		display: inline-block;
		float: left;
		height: 50%;
		margin: 25px auto;

		.burger-container{
			width: 50%;
			margin: 0 auto;
			.burger{
				width:100%;
				cursor: pointer;

			}
		}
	}
}

.page-title{
	@include transition(all .5s ease);
	float: left;
	width: $page-title-width;
	top: 0px;
	// text-indent: 5%;
	// margin: 20px auto 0 auto;
	margin: 0 auto;
	position: absolute;
	left: $nav-menu-width;
	font-size: 75px;
	display: inline-block;
}

.page-title-hidden{
	top: -$page-title-height;
}

.page-data{
	// margin-top: $page-title-height * 1.5;
	// margin-left: $nav-menu-width * 1.5;
	padding: $nav-menu-width $nav-menu-width * 1.5;
	width: 100%;

	.data{
		// opacity: 0;
		width: 100%;
	}
}

.dim{
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .5;
	// opacity: .8;
	// display: none;
	position:fixed;
	left:0;
	top:0;
	z-index: $dim-z-index;
}

.about{
	@include post-text;
}

