@import 'bourbon/bourbon';

.table-of-contents{
	display: block;
	overflow: auto;
}

.contents-entry{
	font-size: 1.6em;
	float: left;
	margin-left: 5px;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	padding: 5px;
	width: 100px;
	height: 100px;
	overflow: none;
	overflow: hidden;

	&:hover{
		overflow: visible;
		border-bottom: 0px;
	}
}

.blog-post-container{
	// font: normal;
	font-family: Arial;
	color: black;
	background: white;
	width: 80%;
	padding: 1em;
	margin: 20px auto 20px 0px;
}
