// Some simple classes

.invisible{
	// display: none;
	visibility : hidden;
}

.zero-opacity{
	opacity: 0;
}

.display-none{
	display: none;
}

.display-block{
	display: block;
}

.fadeIn{ // Fade's in an object if the obj's opacity is 0
	@include transition(opacity .5s ease-in);
	opacity: 1;
}

.fadeOut{ // Fade's in an object if the obj's opacity is 0
	// @include animation(fadeOut 1.0s ease-in);
	@include transition(opacity .5s ease-in);
	opacity: 0;
}

.fadeInAnimation{
	@include animation(fadeIn .5s ease-in);
}

.navMenuSlideOut{
	left: -$nav-menu-width;
}

.navMenuSlideIn{
	left: 0px;
}

.pos-absolute{
	position: absolute;
}