/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
	body{
		background-color: green;
	}
	
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	body{
		background-color: green;
	}
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

	.nav-choice-menu{



			width: 30%;
	}
	body{
		background-color: black;
	}
/* Styles */
}
body{
	background-color: black;
}