.site-nav
  #nav-toggle
    .span.bar
    .span.bar
    .span.bar
  .nav-title #{title}

  #nav-choices
    .choice
      a(href='/') Home
    .choice
      a(href='#stuff').subpage-nav Stuff
    .choice
      a(href='#contact').subpage-nav Contact