extends subpage

block vars
  - var title = 'stuff'

block content
  .container.stuff.page-content
    .row.stuff-item.renvy
      .col-md-4.picture.text-center
        a(href='http://renvy.com') 
          img(src='http://renvy.com/static/img/logo.png')
      .col-md-8.desc
        h1 Michigan-based apartment listing service
        h2 Powered by 
          img(src='http://www.michigan.com/static/img/milogo.png')
