extends subpage

block vars
  - var title = 'stuff'

block content
  #page-content.stuff
    .stuff-item.renvy
      .picture
        a(href='http://renvy.com')
          img(src='http://renvy.com/static/img/logo.png')
      .info
        .blurb An apartment listing service for Apartments in Michigan.
        .stats
          .languages
          .other-info
    .stuff-item.dashbeat

