block vars

if pageLoad
  html
    head
      title= title

      include ../lib/meta.jade

      link(href='/css/migreva.css', rel='stylesheet')
      script(src='/js/migreva.js', type='text/javascript')
  body


  include ./nav

  block content

else
  include ./nav

  block content
